$nightRider: #160F0C;
$saddle: #4D2B20;
$shingleFawn: #704E39;
$white: #fbfaf6;
$zoba: #A29786;

$main: 'Jockey One', sans-serif;
$primary: 'Oswald', sans-serif;
$plain: sans-serif;


html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: $nightRider;
  font-family: $primary;
  color: $white;
  overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: fixed;
}

.bold {
    margin-right: 5px;
    color: $white;
    padding: 8px 5px;
}

h1 {
  font-family: $main;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 4em;
}
h3 {
    color: $white;
    letter-spacing: 0.2em;
    position: relative;
    top: -3.75em;
    left: 3em;
}
h4 {
    margin-top: 0;
}
p {
  font-family: $primary;
}

/* ------------- */
.menu {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.github {
    top: 110px;
    z-index: 3;
    transition: transform 0.5s ease-in-out;
    border: none;
}
.github img {
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $white;
}
.github:hover {
  transform: scale(1.2);
}

/* ------------- */
.menu-circle {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}
.menu:hover .menu-circle {
  transform: scale(1.5);
}
.menu.open .menu-circle {
  transform: scale(60);
}

.menu-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 1px;
  top: 1px;
}

.menu.mobile {
  display: none;
}

/* ------------- */
.menu-overlay {
  background-color: $white;
  color: $saddle;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 2s ease-in-out;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  h2 {
    margin: 3.5rem 4rem .5rem 4rem;
    text-align: left;
    color: $saddle;
  }
  h4 {
    margin: 0 4rem;
    text-align: left;
    color: $shingleFawn;
    text-decoration: overline;
  }
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* ------------- */
.info {
  position: fixed;
  top: 30%;
  left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* ------------- */
.menu-overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 5rem 3rem;
  .img-wrapper {
    width: 100%;
    margin-right: 3rem;
    margin-left: 1rem;
    .profile-photo {
      width: 100%;
      border-radius: 5px;
      padding: 10px 10px 65px 10px;
      background-color: $white;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      -ms-transform: rotate(355deg); /* IE 9 */
      transform: rotate(355deg);
    }
  }

  .about {
    width: 90%;
    margin: 2.5rem 1.5rem;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $shingleFawn;
    p {
      font-family: $plain;
      color: $shingleFawn;
      text-transform: initial;
    }
    p:hover {
      color: $nightRider;
    }
  }

  .button {
    display: none; /* Display if needed */
    width: 100%;
    margin: 0 1.5rem;
    text-align: left;
    button {
      height: 48px;
      padding: 0 20px;
      background: transparent;
      border: 1px solid $shingleFawn;
      text-transform: uppercase;
      color: $shingleFawn;
      cursor: pointer;
      border-radius: 4px;
    }
    button:hover {
      background: $shingleFawn;
      color: $white;
      border-color: $shingleFawn;
    }
  }
}
.social {
    display: flex;
    justify-content: space-between;
    margin: 0 3.5rem 1.5rem 1.5rem;
    a {
      max-width: 40px;
    }
    .social-icon {
      width: 100%;
      height: 40px;
      fill: $zoba;
    }
    .social-icon:hover {
      fill: $shingleFawn;
      animation-name: wobble-hor-bottom;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
    }
}

@keyframes wobble-hor-bottom {
  0%{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15%{
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-10px) rotate(-6deg);
  }
  30%{
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(5px) rotate(6deg);
  }
  45%{
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-5px) rotate(-3.6deg);
  }
  60%{
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(4px) rotate(2.4deg);
  }
  75%{
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
  100%{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.container {
  width: 80vw;
  color: $saddle;
  border: 3px solid $zoba;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  width: 80vw;
  border: 2px dashed $saddle;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  z-index: -1
}

/* ------------- */
.banner {
  height: 80vh;
}

.wrapper {
  height: 800px;
}

.showcase {
    position: sticky;
    /* background: -webkit-linear-gradient(92deg,rgb(231, 176, 172), #D56A65);
    animation: hue 10s infinite linear; */
    background-color: $zoba;
    bottom: 0;
    margin: 4rem auto;
    padding: 6rem 8rem;
    h2 {
      border: 1px solid $white;
      padding: 20px;
      letter-spacing: 0.2em;
      color: $saddle;
      box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
      margin-bottom: 6rem;
    }
}

.box-content {
  position: relative;
  margin-bottom: 30px;
  h5 {
    margin: 20px 20px 0 0;
    color: $saddle;
    text-decoration: overline $shingleFawn;
    font-size: 30px;
    left: -4rem;
    top: -2rem;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
  }
}

.portfolios {
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  .box {
    width: 28.5%;
    display: inline;
    color: #0c0b08;
    margin: 1rem 0.6rem;
    a {
      text-decoration: none;
    }
    .image-container {
      display: block;
      padding: 3rem .5rem;
      background: $white;
      box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    }
  }
  img {
    width: 100%;
  }
  p {
    text-align: right;
    text-transform: uppercase;
    color: $shingleFawn;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
  }
  p:hover {
    color: $nightRider;
  }
  span {
    letter-spacing: 0.2em;
    margin: .6em 3em;
    font-size: 23px;
  }
  span:hover {
    transform: scale(1.25);
    color: $saddle;
    text-decoration: underline;
  }
}
.portfolios.skills {
  justify-content: center;
  margin-top: 3rem;
}
.box-content.skills {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  p {
    font-family: $main;
    letter-spacing: 0.2em;
    margin-bottom: 24px;
  }
}

/* Gradient Color Changing */
.txt-rotate {
text-align: center;
-webkit-animation: color-change-2x 2s linear infinite alternate both;
animation: color-change-2x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-2x {
  0% {
    background: $white;
  }
  100% {
    background: $shingleFawn;
  }
}
@keyframes color-change-2x {
  0% {
    background: $zoba;
  }
  100% {
    background: $saddle;
  }
}


/* Responsive */
@media screen and (max-width:1025px) {
  .menu.desktop {
    display: none;
  }
  .menu.mobile {
    display: block;
  }
  .menu-overlay {
    top: 0;
    max-width: 100vw;
    max-height: 100vh;
  }
  .container {
    top: -15rem;
  }
  .overlay-info {
    width: 100vw;
  }
  .portfolios span {
    margin: .6em 2em;
  }
}
@media screen and (max-width:834px) {
  .menu.mobile {
    top: 30px;
  }
  .menu.github {
    top: 30px;
    right: 110px;
  }
  .menu-overlay {
    .container {
      top: 0;
    }
  }
  .menu-overlay-wrapper {
    flex-direction: column;
    margin: 2rem 0rem 2rem 3rem;
    .img-wrapper {
      width: 45%;
      margin-left: 0;
    }
    .overlay-info {
      margin-top: 3rem;
      width: 100%;
    }
  }
  h1 {
    font-size: 2.2em;
  }
  h3 {
    top: -2.75em;
  }
  .portfolios .box {
    width: 47%;
  }
  .showcase {
    padding: 5rem 3rem;
  }
  .box-content h5 {
    left: 1rem;
  }
  footer p {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .menu {
      top: 10px;
      right: 24px;
  }
  .menu.mobile {
    top: 16px;
  }
  .menu.github {
      right: 90px;
      top: 16px;
  }
  .github img {
      width: 90%;
      height: 90%;
  }

  /* ------------- */
  .info {
      width: 100%;
      left: 0;
      margin: auto;
      font-size: 1em;
  }
  h1 {
      margin: 0 5vw;
      font-size: 26px;
  }
  h3 {
    top: 20em;
    position: fixed;
    font-size: 15px;
  }
  .bold {
      margin-right: 5px;
  }
  .showcase {
    padding: 5rem 1.75rem;
    margin: 3rem auto;
      h2 {
        text-align: center;
      }
  }
  .box-content h5 {
    position: relative;
    top: 0;
    left: unset;
    text-align: center;
    font-size: 22px;
    margin-right: 0;
  }
  .portfolios {
    .box {
      width: 100%;
    }
    p {
      margin-top: 8px;
    }
  }
  .portfolios.skills {
    flex-direction: column;
    margin-top: 1rem;
  }
  .footer p {
    margin: 8px;
  }

  /* ------------- */
  .menu-overlay {
    .container {
      width: 90vw;
      top: 18rem;
    }
    .container::before {
      display: none;
    }
    h2 {
      margin: 1.5rem 1rem .5rem 1rem;
    }
    h4 {
      margin: 0 1rem;
    }
  }
  .menu-overlay-wrapper {
      flex-direction: column;
      margin: 2rem .5rem 2rem .5rem;
      .img-wrapper {
        width: 75%;
        margin-right: 1rem;
      }
      .overlay-info {
        margin-top: 2rem;
      }
  }
  .social {
      flex-direction: row;
      margin: 10px;
  }
  .profile-photo {
      max-height: 250px;
  }
}

/* Big Screen */
@media screen and (min-width: 1279px) {
  .portfolios .box {
    margin: 1rem 1.5rem;
  }
}